* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #777;
    color: #eee;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.game-container {
    border: 0.5em solid #bbb;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 1em;
    width: fit-content;
    text-align: center; 
}

.scores {
    display: flex;
    gap: 1em;
    text-align: center;
    align-items: center;
    border: 0.3em solid #ccc;
    padding: 1em;
    border-radius: 1em;
    line-height: 1.5;
    font-size: 18px;
}

#rock, #paper, #scissors {
    border-style: none;
    background-color: #eee;
}

.game-title {
    font-size: 48px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 2em;
    justify-self: flex-end;
}