* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url('./assets/images/homepage-background.jpg');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    border: 0.5em solid #aaa;
}