* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #777;
    color: #eee;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.game-container {
    border: 0.5em solid #bbb;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 2em;
    gap: 1em;
    width: fit-content;
    text-align: center; 
    margin: 2em;
}

.scores {
    display: flex;
    gap: 1em;
    text-align: center;
    align-items: center;
    border: 0.3em solid #ccc;
    padding: 1em;
    border-radius: 1em;
    line-height: 1.5;
    font-size: 18px;
}

.score-title, .choice-title {
    font-size: 24px;
}

.player-score, .computer-score, .result {
    font-size: 30px;
    font-weight: 1000;
}

.player-choice {
    display: flex;
    justify-content: space-between;
    gap: 1.2em;
}

#rock, #paper, #scissors {
    border-style: none;
    border-radius: 0.2em;
    font-size: 48px;
    flex-basis: 72px;
    width: fit-content;
    padding: 0.7em;
}

.game-title {
    font-size: 48px;
}

.footer {
    display: flex;
    background-color: #222;
    justify-content: center;
    padding: 2em;
}